<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Book Index</title>
  </head>
  <body>
    <%- include('../partials/_navbar')%>
    <h1>Browse Available Books!</h1>
    <% books.forEach(book => { %>
    <img src="<%=book.thumbnail%>" width="70" height="70" />
    <a href="/books/<%=book._id%>"><%=book.title%></a>
    <div>Authors: <%=book.authors%></div>
    <div>Genre: <%=book.genre%></div>
    <p class="book-summary">Summary: <%= book.summary%></p>
    <% }) %>
  </body>
</html>
