<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Book Index</title>
  </head>
  <body>
    <%- include('../partials/_navbar')%>
    <h1>Browse Available Books!</h1>
    <div class="mid-body">
      <% books.forEach(book => { %>
      <div class="container">
        <img src="<%=book.thumbnail%>" width="95" height="122" />
        <a href="/books/<%=book._id%>"><b class="title"><%=book.title%></b></a>
        <div class="books-index">Authors: <%=book.authors[0]%></div>
        <div class="books-index">Genre: <%=book.genre[0]%></div>
      </div>
      <p id="browse-summary" class="books-index">Summary: <%=book.summary%></p>
      <hr />
      <% }) %>
    </div>
  </body>
</html>
