<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Ssearch Index</title>
  </head>
  <body>
    <%- include('../partials/_navbar')%>
    <h1>Your Searched Books!</h1>

    <form class="form-el" action="/books/searchbooks/" method="GET">
      <label for="title"></label>
      <input type="search" name="title" id="title" required />
      <button class="search-button" type="submit">Search</button>
    </form>

    <% if (books.length === 0) { %>
    <p class="no-books">There are no books with that title</p>
    <% } %>

    <div class="mid-body">
      <% books.forEach(book => { %>
      <div class="container">
        <img src="<%=book.thumbnail%>" width="95" height="122" />
        <a href="/books/<%=book._id%>"><b class="title"><%=book.title%></b></a>
        <div>Authors: <%=book.authors[0]%></div>
        <div>Genre: <%=book.genre[0]%></div>
      </div>
      <p id="browse-summary" class="books-index">Summary: <%=book.summary%></p>
      <hr />
      <% }) %>
    </div>
  </body>
</html>
