<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Book Show</title>
  </head>
  <body>
    <%- include('../partials/_navbar')%>
    <h1><%=book.title%></h1>

    <div class="mid-body">
      <img src="<%=book.thumbnail%>" width="140" height="180" />
      <div id="show-author">
        Author: <% book.authors.forEach((author, index) => {%>
        <%=author%><%=index < book.authors.length - 1 ? ',' : ' ' %> <% }) %>
      </div>
      <div id="show-genre">Genre: <%=book.genre%></div>
      <% if (book.summary) { %>
      <p class="show-summary">Summary: <%= book.summary %></p>
      <% } else {%>
      <p class="show-summary"></p>
      <% } %>
    </div>
    <% if (user){ %>
    <form action="/books/tocart/<%=book._id%>?_method=PUT" method="POST">
      <input
        type="text"
        name="title"
        id="title"
        value="<%=book.title%>"
        hidden
      />
      <input
        type="text"
        name="author"
        id="author"
        value="<%=book.authors%>"
        hidden
      />
      <input
        type="text"
        name="genre"
        id="genre"
        value="<%=book.genre%>"
        hidden
      />
      <input
        type="text"
        name="summary"
        id="summary"
        value="<%=book.summary%>"
        hidden
      />

      <button id="add-one" type="submit">Add to cart</button>
    </form>
    <% } else { %>
    <p><a href="/auth/sign-in">Login </a>to add to cart</p>
    <% } %>

    <h2>Reviews:</h2>

    <p>reviwed by <%=book.reviews.length %> people. Exciting!</p>
    <p>Write your own review!</p>
    <form action="/books/<%=book._id%>/reviewed-by/<%=user._id%>" method="POST">
      <label for="text">Leave a review!</label>
      <input type="text" name="text" id="text" />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
