<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Cart Index</title>
  </head>
  <body>
      <%- include('../partials/_navbar')%> 
    <h1>Welcome to your cart!</h1>
    <% let shownOnce = false; %>
    <div id="cart-box">
    <div class="mid-body">
    <% cart.forEach(book => { %>
      <% if (!shownOnce) { %>
      <form action="/books/<%=book._id%>?_method=PUT" method="POST">
        <button id="delete-all" type='submit'>Delete All</button>
     </form>
     <% shownOnce = true; %> 
     <% } %>

      <div class="container| **Specific Book**        | <img src="" width="700"/> |">
      <img src="<%=book.thumbnail%>" width="120" height="150" />
        <a href="/books/<%=book._id%>"><b class="title"><%=book.title%></b></a>
        <div>Author: <%=book.authors%></div>
        <div>Genre: <%=book.genre%></div>
        </div>
      <p class="cart-summary">Summary: <%= book.summary %></p>

      <form action="/books/<%=book._id%>?_method=DELETE" method="POST">
        <button id="delete-one" type='submit'>Delete from cart</button>
     </form>
     <hr />
    <% }) %>
    </div>
    <button id="checkout">Proceed to Checkout</button>
     </div>
  </body>
</html>
</form>