<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Cart Index</title>
  </head>
  <body>
      <%- include('../partials/_navbar')%> 
    <h1>Welcome to your cart!</h1>
    <% let shownOnce = false; %>
      <ul>
    <% cart.forEach(book => { %>
      <% if (!shownOnce) { %>
      <form action="/books/<%=book._id%>?_method=PUT" method="POST">
        <button type='submit'>Delete All</button>
     </form>
     <% shownOnce = true; %> 
     <% } %>
      <a href="/books/<%=book._id%>"><div><%=book.title%></div></a>
      <li>Author: <%=book.author%></li>
      <li>Genre: <%=book.genre%></li>
      <p>Summary: <%= book.summary %></p>
      <form action="/books/<%=book._id%>?_method=DELETE" method="POST">
        <button type='submit'>Delete from cart</button>
     </form>
    <% }) %>
    <button>Proceed to Checkout</button>
  </body>
</html>
</form>